* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signUp,
.logIn {
  background-color: white;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
}
.signUp h1,
.logIn h1 {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
}
.formImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.signUpForm {
  width: 50vw;
  height: 65vh;
  margin: 1rem;
  margin-top: 0;
  margin-right: 0;
}
.signUpImageDiv,
.logInImageDiv {
  width: 50vw;
  height: 65vh;
  margin: 1rem;
  margin-left: 0;
  display: flex;
  justify-content: center;
}
.form {
  height: 65vh;
  margin: 2rem;
  /* margin-top: 5rem; */
  margin-top: 1rem;
  /* yaha se margin set krne hai */
}
.field {
  padding: 1rem;
}
.labelIcon {
  margin-bottom: 0.5rem;
}
.name,
.email,
.password {
  margin-left: 2rem;
  width: 90%;
  padding: 1rem;
  border: 2px solid #f39c12;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
i {
  color: #f39c12;
}

.signUpBtn,.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.signUpBtn button , .loginBtn button {
  background-color: #f39c12;
  width: 25vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  font-weight: 600;
}

.accExist {
  text-align: center;
}
.accExist span {
  color: #f39c12;
}
.role {
  display: flex;
  flex-direction: row;
}
.rolelabel {
  margin-right: 2rem;
  margin-left: 1rem;
}
.radioGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.radioGroup div {
  margin-right: 2rem;
}
.loginform {
  width: 50vw;
  height: 65vh;
  margin: 1rem;
  margin-top: 0rem;
  margin-right: 0;
  padding-top: 3rem;
}
.loginrole {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}
.loginBtn{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
