/* styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("@fortawesome/fontawesome-free/css/all.min.css");
@import url("../Css/styles.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat: "Montserrat", sans-serif; /* Add Montserrat as a CSS variable */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed; /* Fix the double hash (##) */
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat); /* Use Montserrat for the body */
  overflow-x: hidden; /* Prevent horizontal scroll caused by scaling */
}

h1 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.sidebar-menu::-webkit-scrollbar {
  width: 4px; /* Makes the scrollbar very thin */
}

.sidebar-menu::-webkit-scrollbar-track {
  background: #2d2d2d; /* Dark track color */
}

.sidebar-menu::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark gray thumb */
  border-radius: 10px; /* Rounded corners */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
